<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="livro">Livros</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <p>
      Livro de nutrição por apenas R$ 49,99
    </p>
    <p>
        <a href="http://mundialeditora.com/image/cache/data/Produtos/2440-800x800.jpg" target="_top">Aqui</a>
    </p>
</div>
